@import "colors/one-dark.css";

* {
    border: none;
    border-radius: 0px;

    font-family: "Noto Sans", "Symbols Nerd Font";

    font-size: 16px;
    font-weight: bold;
    min-height: 0;
    padding: 0;
    margin: 0 5px;

}

window#waybar {
    background-color: transparent;
}

tooltip {
    background: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;

}

tooltip label {
    color: @fg;
    padding: 10px;
}

#workspaces {
    background-color: @bg0;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 5px;
    border: 1px solid @bg1;
    color: @fg;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 5px;
    border-radius: 7px;
    color: @bg4;
    background-color: @bg1;
    transition: all 0.3s ease-in-out;
    padding-top: 3px;
    padding-bottom: 3px;
}

#workspaces button.active {
    background-color: @gold;
    color: @bg4;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
}

#workspaces button.hover {
    background-color: @purple;
    color: @bg0;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;

}

#workspaces button.urgent {
    background-color: @red;
    color: @bg0;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#pulseaudio,
#network,
#clock,
#custom-notification,
#custom-waybar-media,
#bluetooth,
#cpu,
#temperature,
#memory,
#disk {
    background-color: @bg0;
    padding: 0 15px 0 15px;
    margin: 0 12px 0 12px;
    border-radius: 5px;
    border: 1px solid @bg1;
}

#clock {
    color: @brown;
}

#custom-notification {
    color: @brown;
}

#pulseaudio {
    color: @yellow;
}

#network {
    color: @purple;
}

#custom-waybar-media {
    color: @green;
}

#custom-waybar-media.paused {
    color: @bg4;
}

#custom-waybar-media.stopped {
    color: @bg0;
}

#bluetooth {
    color: @darkgold;
}

#bluetooth.disabled {
    color: @bg3;
}

#cpu {
    color: @brown;
}

#temperature {
    color: @brown;
}

#memory {
    color: @yellow;
}

#disk {
    color: @darkgold;
}